.root {
    display: flex;
    flex-direction: column;
    color: var(--red-color);
}

.dish {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
}

.action:first-child {
    margin-right: 5px;
}

.action:last-child {
    margin-left: 5px;
    color: black;
    transition: color 0.3s;
}

.action:hover {
    color: grey;
} 

.incrementActionContent {
    background-image: url(./img/thumb-up.svg);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.incrementActionImg {
    max-width: 16px;
}

.title {
    font-weight: 600;
}