.star {
    height: 32px;
}

.l {
    width: 48px;
    height: 48px;
}

.m {
    width: 32px;
    height: 32px;
}

.s {
    width: 18px;
    height: 18px;
}

.star:not(:last-child) {
    margin-right: 5px;
}